.hero {
  margin: 2rem;
  .courseintro {
    display: flex;
    background-color: $color-primary;
    padding: 1rem;
    &__info {
      color: $color-white;
      width: 60%;
      h1 {
        font-size: 3rem;
        margin: 0;
        cursor: pointer;
      }
      p {
        width: 53rem;
        font-size: 2rem;
        margin: 0%;
      }
      .courseintro__filterinfo {
        display: flex;
        align-items: flex-start;
        margin-top: 2rem;
        gap: 2rem;
        span {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          text-transform: uppercase;
          font-size: 1.3rem;
        }
        .buttons {
          display: flex;
          flex-direction: column;
          margin: 0;
          button {
            color: $color-white;
            margin: 1rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            padding: 0.5rem 2rem;
            width: 15rem;
            font-size: 1.6rem;
            border: 0.3rem solid $color-white;

            svg {
              width: 2rem;
            }
          }
        }
      }
      img {
        width: 3rem;
      }
      .class__info {
        display: flex;
        gap: 1rem;
        img {
          width: 5rem;
        }
        h1 {
          font-size: 1.6rem;
          max-width: 45rem;
          span {
            color: #318f89;
          }
          .link {
            padding-left: 1rem;
            display: inline-block;
            .linktext {
              color: #feb531;
            }
            .linkicon {
              width: 2rem;
              height: 2rem;
              margin-bottom: -0.5rem;
              display: inline-block;
              clip-path: polygon(100% 47%, 0 0, 0 100%);
              background-color: #feb531;
              margin-left: 1rem;
            }
          }
        }
      }
    }
    .coursecard__container {
      padding: 2rem;
      padding-top: 0;
      width: 35%;
      &--price {
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: #318f89;
        margin: 0;
        .free {
          color: #feb531;
          margin: 0 0.5rem;
        }
        img {
          width: 3rem;
          height: 2rem;
          margin-bottom: -0.5rem;
        }
      }
      .coursecard {
        padding: 2rem;
        width: 38rem;
        background-color: #eef9fc;
        position: absolute;
        span {
          font-size: 2.5rem;
          display: flex;
          justify-content: flex-end;
          margin: 2rem 0;
        }
        button {
          font-size: 2rem;
          color: white;
          background-color: #9d5eaf;
          padding: 2rem;
          width: 80%;
          margin: 0 auto;
          display: inline-block;
        }

        div {
          width: 100%;
          height: 30rem;
          background-color: orange;
          position: relative;
          box-shadow: rgba(0, 0, 0, 0.6) 5px 5px 5px;
        }
      }
    }
  }
  .coursedetail {
    width: 65%;
    display: inline-block;
    &__features {
      width: 70%;
      margin-top: 2rem;
      padding: 2rem;
      border: 0.1rem solid black;

      h1 {
        margin-top: 0;
      }
      &-feature {
        display: flex;
        gap: 1rem;
        margin-left: 1rem;
        align-items: center;
        font-size: 1.3rem;

        svg {
          width: 2rem;
        }

        p {
          margin: 0.3rem;
        }
      }
    }
    &__review {
      width: 70%;
      margin-top: 2rem;
      padding: 2rem;
      border: 0.1rem solid black;
      h2 {
        margin-top: 0;
      }
      .review__userdetail {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        img {
          width: 8rem;
        }
        .username {
          h2 {
            margin: 0;
          }
          p {
            margin: 0;
          }
        }
      }
      .review__rating {
        display: flex;
        align-items: center;
        p {
          margin: 0;
        }
      }
      p {
        font-size: 1.4rem;
        width: 65%;
        display: inline-block;
      }
      .review__report {
        display: inline-block;
        margin-left: 8rem;

        .like-dislike-icons {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-top: 0.5rem;
          svg {
            width: 2rem;
            padding: 0.5rem;
            border: 0.1rem solid black;
            border-radius: 50%;
            cursor: pointer;
          }
        }
        a {
          text-decoration: underline;
        }
      }
    }
  }
  .agreement {
    width: 40rem;
    display: inline-block;
    margin-top: -40rem;
    h3 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
  .suggestionscroll {
    padding: 1rem;
    margin-bottom: 10rem;
    p {
      font-size: 1.3rem;
    }
    .scroll {
      display: flex;
      align-items: center;
      gap: 1rem;
      .course {
        width: 10rem;
        height: 10rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.205);
      }
    }
  }
}

.coursecard__container {
  margin: 3rem 0 1rem 0;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  .coursecard {
    width: 23rem;
    padding: 1rem;
    background-color: #f3f5f7;
    position: relative;
    margin-bottom: 1rem;
    grid-column: span;
    &__img {
      width: 15rem;
      margin: auto;
      margin-top: 2rem;
      display: block;
      border: 1rem solid white;
      box-shadow: 0.8rem 0.8rem 0.5rem #1d1d1d;
    }
    &__img3 {
      height: 10.3rem;
      object-fit: cover;
      position: relative;
    }
    h2 {
      color: #2b4d93;
      cursor: pointer;
    }
    .coursecard__filterCategory {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 1.6rem;
      }
      .duration {
        color: #22d1f0;
      }
      .priceRange {
        color: #fe874a;
      }
    }
    .coursecard__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2rem 0;
      svg {
        width: 3.5rem;
        height: 3.5rem;
        stroke: red;

        path {
          stroke-width: 1px;
        }
      }
    }
    .coursecard__button {
      background-color: #9d5eaf;
      color: white;
    }
    .bestsellerTag {
      width: 10rem;
      position: absolute;
      top: -1rem;
      left: 0;
      z-index: 10;
    }
  }
}
